.container {
    border-radius: 10px;
    text-align: center;
    background-color: lightskyblue;
    margin: 0 auto;
    width: 50%;
    border: steelblue groove 10px;
    margin-top: 10%;
  }
  
  .container2 {
    border-radius: 10px;
    text-align: center;
    background-color: lightcyan;
    margin: 0 auto;
    width: 50%;
    border: black groove 10px;
    margin-top: 10px;
  }
  
  #instruction {
    font-size: 20px;
    margin: 1em;
  }
  
  #product {
    width: 50%;
    border: cyan solid 3px;
    border-radius: 10px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1em;
  }
  
  #enter {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: green;
    color: white;
    border:black solid 4px;
    height: 40px;
    width: 140px;
  }
  
  input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin: 0 auto;
    font-weight: bold;
  }
  
  div#output {
    display: none;
    border: black solid 2px;
    margin: 3%;
  }
  
  div {
    border: steelblue double 5px;
    margin: 5%;
    font-size: 1.4rem;
    background-color: lightblue;
  }